div {
    background-color: #8590CC;
}

#title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #02040D;
	text-align: center;
}

.container {
	background-color: #BCC5F3;
}

.btn {
	color: white;
	background-color: #1C243D;
	transition-duration: 0.4s;
	border: 1px solid #1C243D;
}

.btn:hover {
    color: #1C243D;
	background-color: white;
	border: 1px solid #1C243D;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #02040d;
}