<!DOCTYPE html>
<html>
<head>
	<title>Simple Calculator</title>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}

		#calculator {
			display: flex;
			flex-wrap: wrap;
			width: 240px;
			background-color: skyblue;
			padding: 20px;
			border-radius: 5px;
		}
		#calculator > button {
			width: 50px;
			height: 50px;
			margin: 5px;
			border-radius: 5px;
		}
		#result {
			width: 168px;
			height: 57px;
			margin: 1px 5px;
			padding: 0 1px;
			max-width: 200px;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 2px;
		}

		#result > span {
			margin: auto 10px;
			width: 100%;
			overflow-x: auto;
			direction: rtl;
		}
		.operator, .clear, .equal {
			background-color: white;
		}
		p {
			padding: 0;
			margin: 5px auto 0 auto;
			color: white;
			font-style: italic;
		}
	</style>
</head>
<body>

	<div id="calculator">
		<div id="result">
			<span>{{ arithString }}</span>
		</div>
        <button class="operator"
        @click="computeNumber('/')"
        :disabled="isDisabled" >/</button>
		<button class="value" @click="addNumber(7)">7</button>
		<button class="value" @click="addNumber(8)">8</button>
		<button class="value" @click="addNumber(9)">9</button>
        <button class="operator"
        @click="computeNumber('*')"
        :disabled="isDisabled">*</button>
		<button class="value" @click="addNumber(4)">4</button>
		<button class="value" @click="addNumber(5)">5</button>
		<button class="value" @click="addNumber(6)">6</button>
        <button class="operator"
        @click="computeNumber('-')"
        :disabled="isDisabled">-</button>
		<button class="value" @click="addNumber(1)">1</button>
		<button class="value" @click="addNumber(2)">2</button>
		<button class="value" @click="addNumber(3)">3</button>
        <button class="operator"
        @click="computeNumber('+')"
        :disabled="isDisabled">+</button>
		<button class="value" @click="addNumber(0)">0</button>
		<button class="clear" @click=clear>c</button>
        <button class="equal"
		@click="equals"
		:disabled="!arithString">=</button>
		</div>
	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		new Vue({
            el: "#calculator",
            data:{
                arithString: '',
                calcu: '',
                value: '',
                equation: '',
                operatorClick: false
            },
            methods:{
                addNumber:function(x){
					console.log(this)
                    this.value += x;
                    this.arithString = this.value;
                },
                computeNumber:function(operator){
                    this.calcu = operator;
                    this.equation += this.arithString;
                    this.arithString = eval(this.equation).toString();
                    this.equation += operator;
                    this.arithString = '';
                    this.value = '';
                    this.operatorClick = true;
                },
                equals:function(){
                    if(this.equation=='')
                        return;
                    if(this.calcu != ''){
                        this.equation += this.arithString;
                    }
                    this.arithString = eval(this.equation).toString();
                    this.value = '';
                    this.cal = '';
                    this.equation = '';
                    this.operatorClick = false;
                },
                clear: function(){
                    this.arithString = '';
                    this.calcu = '';
                    this.value = '';
                    this.equation = '';
                }
            },
			computed:{
				isDisabled(){
					return this.operatorClick || !this.arithString;
				}
			}
        })
	</script>

</body>
</html>