<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Simple Todo List</title>
	<style>
	</style>
</head>
<body>
	<div id="todo-list" class="container">
		<div id="todo-list" class="">
			<h1 id="title">My Todo List</h1>
		</div>

		<div id="todo-count" class="col-lg-4 col-lg-offset-4">
			You have {{ todos.length }} items in your Todo List
		</div>

		<div class="col-lg-4 col-lg-offset-4">
			<form id="add-todo">
				<input id="add-todo-input" type="text" v-model="newItem" placeholder="what will i do?">
				<button id="add-todo-button" :disabled="!newItem.trim()" @click.prevent="addItem" class="btn btn-primary">Add</button>
			</form>
		</div>
		<div id="todo-count" class="col-lg-4 col-lg-offset-4">
			<ul id="list-elem" v-for="todo in todos" v-bind:key="todo.id" class="list-group">
				<li class="list-group-item">{{todo.item}}</li>
			</ul>
		</div>
	</div>
	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		new Vue({
			el: "#todo-list",
			data:{
				todos:[],
				newItem: '',
			},
			methods:{
				addItem:function(){
					if(this.newItem.trim()){
						let id = this.todos.length + 1
						const newTodos = {id:id, item:this.newItem}
						this.todos.push(newTodos)
						this.newItem = ''
					}
				}
			}
		})
	</script>
</body>
</html>